{% extends 'base.html.twig' %}

{% block title -%}
Meu perfil &ndash; {{ parent() }}
{%- endblock %}

{% block body %}
    <div class="container py-5">
        <div class="text-center">
            {% if user.avatar %}
                <div class="img-thumbnail rounded-circle mb-5 mx-auto"
                     style="
                         width: 200px; height: 200px;
                         background-size: cover;
                         background-position: center center;
                         background-image: url({{ asset(user.avatar|public_path) }})"></div>
            {% endif %}

            <h2 class="display-4 text-center">{{ user }}</h2>

            {% if user.email %}
                <p class="mb-5">{{ user.email }}</p>
            {% endif %}

            {% if user.favQuote %}
                <blockquote class="blockquote font-italic">
                    {{ user.favQuote|nl2br }}
                </blockquote>
            {% endif %}

            <p>
                <a href="{{ path('app_profile_edit') }}" class="btn btn-link">Editar perfil</a>
            </p>
        </div>
    </div>
{% endblock %}
