{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title -%}
    Crie sua conta &ndash; {{ parent() }}
{%- endblock %}

{% block body %}
    <div class="container">
        <h1 class="display-4 my-5">Crie sua conta</h1>

        {{ form_start(form, {attr: {novalidate: true}}) }}

        {{ form_errors(form) }}
        {{ form_widget(form) }}

        <p class="my-5">
            <button class="btn btn-dark">Criar</button>
            <a class="btn btn-link" href="{{ path('homepage') }}">Cancelar</a>
        </p>

        {{ form_end(form) }}

    </div>
{% endblock %}
